/* box model */
html { box-sizing: border-box; }
*, *:after, *:before { box-sizing: border-box;}

body {
    padding: 10px 50px;
    background: bisque url('../images/pozadi.jpg') top center no-repeat;
    background-size: cover;
    color: black;
    font-family: sans-serif;
    font-size: large;
    min-height: 100vh;
}

h1 {
    margin: 50px 0;
    font-family: sans-serif;
    text-align: center;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    margin: 50px 0;
    font-family: sans-serif;
    text-align: center;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.zprava {
    text-align: center;
}


.pexeso {
    width: 540px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-gap: 20px;
}

.pexeso .karta {
    border: 3px solid rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
    display: block;
    width: 100%;
}

.pexeso .karta:nth-child(6n+1) { transform: rotate(-2deg); }
.pexeso .karta:nth-child(6n+2) { transform: rotate(3deg); }
.pexeso .karta:nth-child(6n+3) { transform: rotate(-4deg); }
.pexeso .karta:nth-child(6n+4) { transform: rotate(2deg); }
.pexeso .karta:nth-child(6n+5) { transform: rotate(1deg); }
.pexeso .karta:nth-child(6n+6) { transform: rotate(-4deg); }

/*
.pexeso .karta:hover {
    transform: translate(-2px, -2px) scale(1.1);
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
}
*/

.pexeso .bez-karty {
    display: block;
    width: 100%;
    border: none;
    box-shadow: none;
}

.neviditelne {
    display: none;
}