<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/styly.css"
          th:href="${'css/styly.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <title>Výchozí webová stránka | Java 2 web </title>
</head>
<body>
    <!--/*@thymesVar id="nakup" type="java.util.List<java.lang.String>"*/-->

    <div class="page">

        <h1>Nákupní seznam</h1>

        <table>
            <tr th:each="vec, cislo : ${nakup}">
                <td th:text="${cislo.index + 1 + '.'}">1.</td>
                <td th:text="${vec}">Mrkev</td>
            </tr>
            <!--/* -->
            <tr>
                <td>2.</td>
                <td>Brokolice</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Květák</td>
            </tr>
            <!-- */-->
        </table>

    </div>
</body>
</html>
