<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs" xml:lang="cs"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/styly.css"
          th:href="${'css/styly.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <title>Nákupní seznam - Přidávání</title>
</head>
<body>
    <div class="page">

        <h1>Přidat zboží</h1>

        <form method="post">
            <table>
                <tr>
                    <td>Název:</td>
                    <td>
                        <input name="nazev" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>Název:</td>
                    <td>
                        <input name="mnozstvi" type="number"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Přidat">
                    </td>
                </tr>
            </table>
        </form>

    </div>
</body>
</html>
