<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>VideoBoss</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body>

    <h1>VideoBoss</h1>

    <h2>
        Vítejte na našich stránkách.
    </h2>

    <h3>
        Admin portál pro správu zákazníků je <a href="customers/">zde</a>
    </h3>

</body>
</html>
