<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs" xml:lang="cs"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/styly.css"
          th:href="${'css/styly.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <title>Zadejte údaje</title>
</head>
<body>
    <div class="page">

        <h1>Zadejte svoje jméno</h1>
    
        <form method="post">
            <table>
                <tr>
                    <td>Křestní jméno:</td>
                    <td>
                        <input name="krestniJmeno" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>Příjmení:</td>
                    <td>
                        <input name="prijmeni" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Odeslat"/>
                    </td>
                </tr>
            </table>
        </form>

    </div>
</body>
</html>
