<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs" xml:lang="cs"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/styly.css"
          th:href="${'css/styly.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <title>Seznam kamarádů</title>
</head>
<body>
    <div class="page">

        <p>
            Seznam kamarádů najdete:
            <a href="lide/kamaradi.html"
               th:href="${'zemekoule/usa/pratele.html'}">ZDE</a>.
        </p>

    </div>
</body>
</html>
