<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs" xml:lang="cs"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet"
          href="../static/css/styles.css"
          th:href="${'css/styles.css'}"/>
    <link rel="icon"
          href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <title>Pexeso</title>
</head>
<body>
    <!--/*@thymesVar id="aktualniHerniPlocha" type="cz.czechitas.webapp.entity.HerniPlocha"*/-->

    <h1>Pexeso</h1>

    <div class="zprava"
         th:if="${aktualniHerniPlocha.stav == T(cz.czechitas.webapp.entity.StavHry).KONEC}">
        <h2>Gratulujeme!</h2>

        <a th:href="@{/}" href="stul.html">Začít novou hru</a>
    </div>

    <form method="post" class="pexeso">

        <th:block th:each="karta , pocitadlo : ${aktualniHerniPlocha.karticky}" style="display: none;">
            <input type="image"
                   th:if="${karta.stav == T(cz.czechitas.webapp.entity.StavKarty).LICEM_NAHORU}"
                   th:src="${'images/karta' + karta.cisloObrazku + '.jpg'}"
                   th:name="${'vybranaKarta' + pocitadlo.index}"/>
            <input type="image"
                   th:if="${karta.stav == T(cz.czechitas.webapp.entity.StavKarty).RUBEM_NAHORU}"
                   th:src="${'images/rub.png'}"
                   th:name="${'vybranaKarta' + pocitadlo.index}"/>
            <img class="bez-karty"
                 th:if="${karta.stav == T(cz.czechitas.webapp.entity.StavKarty).ODEBRANA}"
                 th:src="${'images/empty.png'}"/>
        </th:block>

        <!--/* Following block is removed by ThymeLeaf -->
        <input type="image" src="../static/images/karta1.jpg" name="vybranaKarta0"/>
        <input type="image" src="../static/images/karta1.jpg" name="vybranaKarta1"/>
        <input type="image" src="../static/images/karta2.jpg" name="vybranaKarta2"/>
        <input type="image" src="../static/images/karta2.jpg" name="vybranaKarta3"/>

        <input type="image" src="../static/images/rub.png" name="vybranaKarta4"/>
        <input type="image" src="../static/images/rub.png" name="vybranaKarta5"/>
        <input type="image" src="../static/images/karta4.jpg" name="vybranaKarta6"/>
        <input type="image" src="../static/images/karta4.jpg" name="vybranaKarta7"/>

        <input type="image" src="../static/images/rub.png" name="vybranaKarta8"/>
        <input type="image" src="../static/images/rub.png" name="vybranaKarta9"/>
        <img class="bez-karty" src="../static/images/empty.png"/>
        <img class="bez-karty" src="../static/images/empty.png"/>

        <input type="image" src="../static/images/karta6.jpg" name="vybranaKarta12"/>
        <input type="image" src="../static/images/karta6.jpg" name="vybranaKarta13"/>
        <input type="image" src="../static/images/karta7.jpg" name="vybranaKarta14"/>
        <input type="image" src="../static/images/karta7.jpg" name="vybranaKarta15"/>
        <!--*/-->

    </form>

</body>
</html>
