<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs" xml:lang="cs"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet"
          href="../static/css/styly.css"
          th:href="${'css/styly.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <title>Nákupní seznam</title>
</head>
<body>
    <!--/*@thymesVar id="seznamVyrobku"
        type="java.util.List<cz.czechitas.webapp.Zbozi>"*/-->

    <div class="page">

        <h1>Nákupní seznam</h1>

        <table>
            <tr th:each="jednaDobrota : ${seznamVyrobku}">
                <td th:text="${jednaDobrota.nazev}">Rybí tuk</td>
                <td th:text="${jednaDobrota.mnozstvi}">-2</td>
            </tr>
        </table>

    </div>
</body>
</html>
