<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs" xml:lang="cs"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/styly.css"
          th:href="${'css/styly.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <title>Telefonní seznam</title>
</head>
<body>
    <!--/*@thymesVar id="seznam" type="java.util.List<cz.czechitas.webapp.TelefonniKontakt>"*/-->

    <div class="page">

        <h1>Telefonní seznam</h1>

        <table>
            <tr>
                <td>Osoba</td>
                <td>Stát</td>
                <td>Telefon</td>
            </tr>
            <tr th:each="kontakt : ${seznam}">
                <td th:text="${kontakt.jmeno}">Krteček</td>
                <td th:text="${kontakt.telefon}">+420123456789</td>
                <td><a href="detail.html" th:href="${'detail-' + kontakt.id + '.html'}">Detail</a></td>
            </tr>
            <tr th:remove="all">
                <td>Myška</td>
                <td>+86 123 456 123</td>
            </tr>
            <tr th:remove="all">
                <td>Zajíc</td>
                <td>+81 111 222 333</td>
            </tr>
        </table>

    </div>
</body>
</html>
